.container
{
    border:2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.item
{
    height:100px;
    width:100px;
    border:1px solid black;
    margin:2px;
    padding:20px;
}
#item1
{
    background-color: red;
}
#item2
{
    background-color: green;
}
#item3
{
    background-color: blue;
}
#item4
{
    background-color: yellow;
}

